{% extends "navigation.html" %}
{% block body %}
    <h1> Hello {{ user.fullname() }}</h1>
    <hr>
    <h3> Username: {{ user.username }}</h3>
    <h3> Grade: {{ user.grade }} </h3>
    <h3> Last Seen: {{ user.last_seen }} </h3>
    {% for tournament in nameset %}
        {% for team in teamset %}
            {% set event_dict = userEvents(tournament, team) %}
            <h3> {{ "{} {} {}".format(tournament, team, 'Events') }} </h3>
            <ul>
                {% for event in event_dict[user.id] %}
                    <li> {{ event }} </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}
